
start_up_project_/API/bin/

start_up_project_/API/obj/

start_up_project_/.vs/

start_up_project_/BusinessLogic/bin/

start_up_project_/BusinessLogic/obj/

start_up_project_/Contract/bin/

start_up_project_/Contract/obj/

start_up_project_/DataAccessLayer/obj/

start_up_project_/Sender/bin/

start_up_project_/Sender/obj/
